@model TraveLog.Models.BlogDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>of your written memories of the trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thoughts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thoughts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
