@model TraveLog.Models.VisitedDetail

@{
    ViewBag.Title = "Details";
}

<h2>Visited</h2>

<div>
    <h4>details that were added to your trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitedId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateVisited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateVisited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialThoughts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialThoughts)
        </dd>

      

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
